<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.body %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
<%= link_to 'Sing out', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'Sing up', new_user_registration_path %>
<%= link_to 'Sing in', new_user_session_path %>
<% end %>

<br>

<%= link_to 'New Blog', new_blog_path %>

<br>

<%= link_to 'New User', new_user_path(:blog_id) %>

